/* basics & resets ================================================================================== */

/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&family=MuseoModerno:wght@100;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #fff;
  font-family: "DM Mono", monospace;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoModerno";
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 100;
}

li {
  display: inline;
  margin: auto 20px;
  list-style: none;
}

a {
  color: #fff;
  text-shadow: 1px 1px 5px #fff;
  text-decoration: none;
}

/* header =============================================================================================== */

header {
  background-color: darkviolet;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 999;
}

#header-img {
  width: 400px;
}

.fa-cat {
  padding-bottom: 20px;
  color: darkslategray;
}

.intro h1 {
  color: turquoise;
  font-size: 3rem;
}

/* hero ================================================================================================= */

#hero {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 80px;
  padding-bottom: 0;
}

.intro {
  padding: 70px;
}

/* media ================================================================================================ */

#media {
  background-color: turquoise;
  z-index: 1;
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#media h2 {
  color: #000;
  font-weight: 900;
  text-transform: lowercase;
  font-size: 3rem;
  margin-bottom: 40px;
}

/* download =============================================================================================== */

a.button {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5%;
  color: #000;
  padding: 20px;

}

/* responsiveness ============ */

@media (max-width: 925px) {
  .section {
    flex-direction: column-reverse;
  }

  .intro {
    margin: 100px auto;
    text-align: center;
  }


}

@media (max-width: 650px) {
  header {
    flex-direction: column;
  }

  nav {
    margin: 20px auto;
  }
}