/* basics & resets ================================================================================== */

/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&family=MuseoModerno:wght@100;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #fff;
  font-family: "DM Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuseoModerno";
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 100;
}

li {
  display: inline;
  margin: auto 20px;
  list-style: none;
}

a {
  color: #fff;
  text-shadow: 1px 1px 5px #fff;
  text-decoration: none;
}

/* header =============================================================================================== */

header {
  background-color: darkviolet;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
  z-index: 999;
}

#header-img {
  width: 300px;
}

.intro h1 {
  color: turquoise;
  font-size: 5rem;
}

.intro h2 {
  font-size: 3rem;
}

/* hero ================================================================================================= */

#hero {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0;
}

/* media ================================================================================================ */

#media {
  background-color: turquoise;
  z-index: 1;
}